*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* ------------MENU-------------*/
.menu {
    /* background: lightpink; */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.menu ul li{
    display: inline-block; 
    padding: 30px 20px;
}

.menu img{
    width: 120px;
    margin: 0px 2px -30px;
}
.menu img:hover{
    opacity: 0;
}
.menu a{
    text-decoration: none;
    color: darkslategray;
    font-size: 18px;
    font-family: "Arsenal SC", sans-serif;
}
.menu a:hover{
    color: brown;
}

/* ------------SLICE-------------*/
.slice{
    margin-top: 10px;
    position: relative;
}
.slice img{
    width: 1200px;
    height: 500px;
}
.slice .left{
    position: absolute;
    left: 70px; 
    top: 100px; 
}
.slice .left h1{
    color: goldenrod;
    font-size: 50px;
    font-style: italic;
    text-shadow: 5px 5px 2px gray;
    white-space: pre-wrap;
}
.slice p{
    font-size: 18px;
    margin-top: 10px;
    white-space: pre-wrap;
}
.button{
    color: azure;
    background-color: brown;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Arsenal SC", sans-serif;
    margin: 20px 20px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    color: brown;
}
.slice .right{
    position: absolute;
    bottom: 60px;
    right: 80px;
}
.slice .right .hidden{
    background-color: rgb(0, 0, 0,0);
    color: darkgray;
    border: none;
    font-size: 40px;
    cursor: pointer;
    margin-left: 20px;
}
.slice .right .hidden:hover{
    color: #fff;
}

/* ------------BANNER-------------*/
.banner{
    margin-top: 30px;
}
#bannerLeft{
    width: 600px;
    height: 600px;
    float: left;
    background-image: url(https://i.pinimg.com/736x/76/57/0b/76570bdcac0133bf7c032ba76502f409.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    clip-path:inset(10px round 10px 100px);
}
#bannerRight{
    width: 560px;
    height: 700px;
    float: right;
    background-image: url(https://i.pinimg.com/564x/cf/2d/4e/cf2d4e38401eb672e247eb925b70750a.jpg);
    background-size: cover;
    position: relative;
    clip-path:inset(10px round 100px 10px);
}
.banner a p{
    font-size: 30px;
    color: black;
}
.banner a p:hover{
    color: navy;
}

.banner .text1{
    position: absolute;
    font-size: 50px;
    left: 40px;
    top: 30px;
}
.banner .view1{
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 70px;
    cursor: pointer;
}

.banner .text2{
    font-size: 50px;
    position: absolute;
    font-size: 60px;
    right: 40px;
    top: 40px;
}
.banner .view2{
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 110px;
    cursor: pointer;
}
/* ------------CONTENT-------------*/
.content{
    margin-top: 20px;
}
.content #title{
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.sp #first:first-child, .layer2 .first, .layer3 .first, .layer4 .first{
    margin-left: 0;
}
.sp{
    text-decoration: none;
}
.sp img{
    width: 280px;
    height: 350px;
    margin-left: 20px;
    float: left;
    overflow: hidden;
    clip-path: inset(10px round 10px);
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
         -o-transform: scale(1.0);
            transform: scale(1.0);
}
.sp img:hover{
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.ten{
    width: 280px;
    margin-top: 10px;
    font-size: 22px;
    color: darkslategray;
    text-transform: uppercase;
    float: left;
    text-align: center;
    margin-left: 20px;
    overflow: hidden;
}
.ten p:last-child{
    color: cadetblue;
    font-size: 20px;
    margin-top: 2px;
    text-transform: capitalize;
    text-decoration: line-through;
}
.gia{
    width: 280px;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
    color: brown;
    font-weight: bold;
    overflow: hidden;
}
.gia span{
    font-size: 15px;
    color: darkslategray;
}
.mua button{
    padding: 0px 0px;
    text-align: center;
    border-radius: 0%;
    width: 260px;
    font-size: 20px;
    float: left;
    margin-top: 2px;
}
.layer4{
    text-align: center;
}