*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* ------------MENU-------------*/
.menu {
    /* background: lightpink; */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.menu ul li{
    display: inline-block; 
    padding: 30px 20px;
}

.menu img{
    width: 120px;
    margin: 0px 2px -30px;
}
.menu img:hover{
    opacity: 0;
}
.menu a{
    text-decoration: none;
    color: darkslategray;
    font-size: 18px;
    font-family: "Arsenal SC", sans-serif;
}
.menu a:hover{
    color: white;
    border: 1px solid darkslategray;
    background: darkslategray;
    padding: 5px;
}

/* ------------SLICE-------------*/
.slice{
    margin-top: 10px;
    position: relative;
}
.slice img{
    width: 1200px;
    height: 500px;
}
.slice .left{
    position: absolute;
    left: 70px; 
    top: 100px; 
}
.slice .left h1{
    color: goldenrod;
    font-size: 50px;
    font-style: italic;
    text-shadow: 5px 5px 2px gray;
    white-space: pre-wrap;
}
.slice p{
    font-size: 18px;
    margin-top: 10px;
    white-space: pre-wrap;
}
.button{
    color: azure;
    background-color: brown;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Arsenal SC", sans-serif;
    margin: 20px 100px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    color: brown;
}
.slice .right{
    position: absolute;
    bottom: 60px;
    right: 80px;
}
.slice .right .hidden{
    background-color: rgb(0, 0, 0,0);
    color: darkgray;
    border: none;
    font-size: 40px;
    cursor: pointer;
    margin-left: 20px;
}
.slice .right .hidden:hover{
    color: #fff;
}

/* ------------BANNER-------------*/
.banner{
    margin-top: 30px;
}
#bannerLeft{
    width: 600px;
    height: 600px;
    float: left;
    background-image: url(https://i.pinimg.com/736x/36/0a/a3/360aa3e8bd362fc2689a79bce1beb5cb.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
#bannerRight{
    width: 560px;
    height: 700px;
    float: right;
    background-image: url(https://i.pinimg.com/736x/f6/e8/24/f6e8245c546f4740bee0b1d99b8654f8.jpg);
    background-size: cover;
    position: relative;
}
.banner a p{
    font-size: 30px;
    color: black;
}
.banner a p:hover{
    color: navy;
}

.banner .text1{
    position: absolute;
    font-size: 60px;
    left: 40px;
    top: 30px;
}
.banner .view1{
    position: absolute;
    left: 300px;
    top: 100px;
    cursor: pointer;
}

.banner .text2{
    position: absolute;
    font-size: 60px;
    right: 40px;
    top: 100px;
}
.banner .view2{
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
}
/* ------------CONTENT-------------*/
.content{
    float: left;
    margin-top: 20px;
}
.content #title{
    font-size: 40px;
    margin-bottom: 20px;
}
.content .layer1 a{
    text-align: center;
}
.sp img{
    width: 290px;
    height: 400px;
}